/* --------- Hypertext links --------- */
a {  
  background-color : transparent;
  color : #E60000;
  text-decoration : none;
}
a:hover {
  color : #AA0001;
  text-decoration : underline;
}

/* --------- Titles --------- */
h1 {
  font-size : 1.4em;
  font-weight : bold;
}
h2 {font-size : 1.2em;}
h3 {
  padding-bottom : 3px;
  font-size : 1em;  
}
h4 {font-size : 1em;}
h5 {font-size : .9em;}
h6 {font-size : .8em;}

/* --------- Images --------- */
img {
  position : relative;
  border : 0;  
}

/* --------- Lists --------- */
#xo-canvas-content ul {
  margin : 2px;
  padding : 2px;
  list-style : decimal inside;
  text-align : left;
}
#xo-canvas-content li {
  margin-left : 2px;
  background-color : inherit;
  color : #808080;
  line-height : 1.4em;
  list-style-image :	url("../icons/arrow.gif");
}
#xo-canvas-content li a {color : #808080;}

/* --------- Others --------- */
acronym, abbr, dfn {
  border-bottom : 1px dotted #333;
  cursor : help;
}
q, cite, em, dfn, strong {font-style : italic;}
strong, dfn {font-weight : bold;}
del {text-decoration : line-through;}
address {
  font-style : normal;
  letter-spacing : .1em;
}
hr {display : none;}

/* --------- Tables and cells --------- */
table {width : 100%;}
table td {
  padding : 0;
  vertical-align : top;
  border-width : 0;  
}
th {
  padding : 2px;
  color : #E60000;
  font-size : 1.1em;
  vertical-align : middle;
}
.outer {
  padding : 1px;
  border : 1px solid #eee;
}
.head {
  background-color : #eee;
  padding : 5px;
  font-weight : bold;
}
.even {
  background-color : #fafafa;
  padding : 5px;
}
.odd {
  background-color : #f9f9f9;
  padding : 5px;
}
.foot {
  background-color : #eeee;
  padding : 5px;
  font-weight : bold;
}
tr.even td {
  background-color : #fafafa;
  padding : 5px;
}
tr.odd td {
  background-color : #f9f9f9;
  padding : 5px;
}

/* --------- Core messages --------- */
.errorMsg {
  background-color : #FFCCCC;
  padding : 10px;
  text-align : center;
  border-top : 1px solid #DDDDFF;
  border-left : 1px solid #DDDDFF;
  border-right : 1px solid #aaa;
  border-bottom : 1px solid #aaa;
  font-weight : bold;  
}
.confirmMsg {
  background-color : #DDFFDF;
  padding : 10px;
  color : #136C99;  
  text-align : center;
  font-weight : bold; 
  border-top : 1px solid #DDDDFF;
  border-left : 1px solid #DDDDFF;
  border-right : 1px solid #aaa;
  border-bottom : 1px solid #aaa;   
}
.resultMsg {
  background-color : #c1c1c1;
  padding : 10px;
  color : #333;
  text-align : center;
  font-weight : bold;
  border-top : 1px solid #ccc;
  border-left : 1px solid #ccc;  
  border-right : 1px solid #666;
  border-bottom : 1px solid #666;  
}

/* --------- Codes and Quotes --------- */
.xoopsCode {
  max-height : 200px;
  margin : 6px;
  background-color : #fafafa;
  padding : 6px; 
  overflow : auto;
  color : #666;
  font-family : "Lucida Console", "courier new", monospace;
  font-size : .9em; 
  border : 1px solid #e1e1e1;
  border-left : 3px solid #639ACC; 
}
.xoopsQuote {
  margin : 6px;
  background: #fafafa url("../img/quote.gif") no-repeat 5px 10px;  
  padding : 6px 6px 6px 40px;  
  font-style : italic;
  border : 1px solid #e1e1e1;
  border-left : 3px solid #639ACC; 
}

/* --------- Articles --------- */
.item {
  margin-bottom : 10px;
  background-color : #eee;
}
.itemHead {
  margin : 5px 5px 0 5px;  
  padding : 5px 0 0 10px; 
  color : #444;
  font-size : 1em;
}
.itemInfo {
  padding : 3px;
  text-align : right; 
}
.itemTitle a {
  background-color : transparent;
  color : #444;
  font-size : 1.1em;
  font-weight : bold;
}
.itemPoster {
  font-size : .9em;
  font-style : italic;
}
.itemPostDate {
  font-size : .9em;
  font-style : italic;
}
.itemStats {
  font-size : .9em;
  font-style : italic;
}
.itemBody {padding-left : 3px;}
.itemText {
  margin-top : 5px;
  margin-bottom : 5px;
  padding : 0 5px 0 5px;
  line-height : 1.5em;
}
.itemFoot {  
  background-color : #efefef;
  padding : 3px;
  text-align : right; 
}
.itemAdminLink {font-size : .9em;}
.itemPermaLink {font-size : .9em;}

/* --------- Forums and Comments --------- */
.comTitle {
  margin-bottom : 2px;
  font-weight : bold;  
}
.comText {padding : 2px;}
.comUserStat {
  margin : 2px; 
  background-color : #fff;
  padding : 2px;
  font-size : .8em;
  font-weight : bold;
  border : 1px solid #ccc;   
}
.comUserStatCaption {font-weight : normal;}
.comUserStatus {
  margin-left : 2px;
  margin-top : 10px;
  font-weight : bold;
  font-size : .8em;
}
.comUserRank {margin : 2px;}
.comUserRankText {
  font-size : .8em;
  font-weight : bold;
}
.comUserRankImg {border : 0;}
.comUserName {}
.comUserImg {margin : 2px;}
.comDate {
  font-weight : normal;
  font-style : italic;
  font-size : .8em;
}  
.comDateCaption {
  font-weight : bold;
  font-style : normal;
  font-size : .8em;
}
.signature {
  font-size : .8em;
  font-style : italic;
}